{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for artist in results.data %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<img src="{{artist.image_link}}" class="artist_caption">
			<div class="item">
				<h5>{{ artist.name }}</h5><i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}