{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group {{ 'has-error' if form.errors.artist_id}}">
        <label for="artist_id">Artist ID</label>
        <small>ID can be found on the Artist's Page</small>
        {{ form.artist_id(class_ = 'form-control', autofocus = true,required = true) }}
        {% if form.errors.artist_id %}
          {% for message in form.errors.artist_id %}
            <span class="help-block">{{ message }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-group {{ 'has-error' if form.errors.venue_id}}">
        <label for="venue_id">Venue ID</label>
        <small>ID can be found on the Venue's Page</small>
        {{ form.venue_id(class_ = 'form-control', autofocus = true, required = true) }}
        {% if form.errors.venue_id %}
          {% for message in form.errors.venue_id %}
            <span class="help-block">{{ message }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-group {{ 'has-error' if form.errors.start_time}}">
          <label for="start_time">Start Time</label>
          {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
          {% if form.errors.start_time %}
            {% for message in form.errors.start_time %}
              <span class="help-block">{{ message }}</span>
            {% endfor %}
          {% endif %}
        </div>
      <input type="submit" value="Create Show" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}